{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-5">
        <div class="row">
            <h1>Panier</h1>
        </div>
        <div class="row">
            {% if cartItems | length > 0 %}
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Livre</th>
                        <th class="text-right">Prix</th>
                        <th class="text-right">Quantité</th>
                        <th class="text-right">Total</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for item in cartItems %}
                        <tr>
                            <td class="text-center px-0">
                                <img src="{{item.livre.image}}" class="img-thumbnail w-25 h-30" style="width: 15rem;" >
                            </td>
                            <td class="align-middle">
                                <h6 class="my-0">{{ item.livre.titre }}</h6>
                                <small class="text-muted">{{ item.livre.auteur }}</small>
                            </td>
                            <td class="text-right align-middle"><h6 class="my-0">{{ item.livre.prix }} €</h6></td>
                            <td class="text-center align-middle"><h6 class="my-0">{{ item.quantity }}</h6></td>
                            <td class="text-right align-middle"><h6 class="my-0">{{ item.livre.prix * item.quantity }} €</h6></td>
                            <td class="text-center align-middle">
                                <a href="{{ path('cart_remove', {'livreId': item.livre.id}) }}" class="btn btn-danger btn-sm">
                                    <i class="fas fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="4" class="text-right align-middle">Total : </th>
                            <th class="text-right align-middle">{{ totalPanier }} €</th>
                            <td class="text-right align-middle"><a role="button" href="{{ app.user ? path('chekout') : path('login') }}" class="btn btn-success text-white">Passer commande</a></td>
                        </tr>
                    </tfoot>
                </table>
            {% else %}
                <p>Votre panier est tristement vide :(</p>
            {% endif %}
        </div>
    </div>
{% endblock %}