{% extends 'base.html.twig' %}

{% block title 'LibOnline' %}

{# STYLESHEETS #}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{# CONTENT #}
{% block body %}

    {# Formulaire #}
    <div class="card filters">
        <h3>Recherche</h3>
        <form class="form-inline my-2 my-lg-0" action="{{path('home_filter')}}" method="POST">
           
            {# Champ recherche #}
            <input 
                class="form-control mr-sm-2" 
                id="search"
                name="search"
                type="text" placeholder="Rechercher..." 
                aria-label="Search"
            >

            {# Catégorie de recherche #}
            <div class="form-group">
                <select class="form-control" id="categorie" name="categorie">
                    <option value="titre">Titre</option>
                    <option value="editeur">Editeur</option>
                    <option value="auteur">Auteur</option>
                </select>
            </div>

            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

    {# Tous les livres #}
    <div class="container">
        <div class="row">

        {# Affichage aucun livre trouvé #}
        {% if livres is empty %}
            <p> Aucun résultat trouvé </p>
        {% endif  %}

        {# Affiches livres #}
        {% for livre in livres %}
            <div class="card book">
                <div class="card-body">
                    <a href="books/{{livre.id}}">
                        <img src="{{livre.image}}" class="card-img-top" style="width: 15rem;" >
                    </a>
                    <hr>
                    <h3> {{livre.titre}} </h3>
                    <p> <strong> Prix : </strong> {{livre.prix}} € </p>
                    <p> <strong> Editeur : </strong> {{livre.editeur}} </p>
                    <hr>
                    <p class="add">
                        <a href="{{ path('cart_add', {'livreId': livre.id}) }}">
                            Ajouter au panier <i class="fas fa-plus-circle"></i>
                        </a>
                    </p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
