{% extends 'base.html.twig' %}

{% block title 'LibOnline' %}

{# STYLESHEETS #}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{# CONTENT #}
{% block body %}

    {# Tous les livres #}
    <div class="container">
        <div class="row">
        {% for livre in livres %}
            <div class="card book">
                <div class="card-body">
                    <a href="books/{{livre.id}}">
                        <img src="{{livre.image}}" class="card-img-top" style="width: 15rem;" >
                    </a>
                    <hr>
                    <h3> {{livre.titre}} </h3>
                    <p> <strong> Prix : </strong> {{livre.prix}} € </p>
                    <p> <strong> Editeur : </strong> {{livre.editeur}} </p>
                    <hr>
                    <p class="add">
                        Ajouter au panier <i class="fas fa-plus-circle"></i> 
                    </p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
