<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LibOnline{% endblock %}</title>
    {# Bootstrap #}
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous"
    >
    <link rel="stylesheet" href="./public/build/app.css">
    {% block stylesheets %} {% endblock %}
</head>
<footer>
    {# Navbar #}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" role="navigation">
        <div class="container-fluid">

            {# Left side #}
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('home') }}">
                    <img src="https://www.graphicsprings.com/filestorage/stencils/2f3bdb9733c4a68659dc2900a7595fea.png?width=500&height=500" width="30" height="30" class="d-inline-block align-top" alt="">
                    Lib Online
                </a>
            </div>

            {# Right side #}

            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                        <li class="nav-item">
                            <a class="nav-link mr-2 text-white" href="{{ path('app_admin_dashboard_index') }}">
                                <i class="fa fa-cog fa-1x" aria-hidden="true"></i>
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a href="#" class="dropdown-toggle mr-3 text-white" data-toggle="dropdown">
                            <i class="fa fa-user fa-1x" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-default btn-danger text-white mr-3" href="{{ path('app_logout') }}">
                            Se déconnecter
                        </a>
                        <ul class="dropdown-menu mx-auto">
                            <li><a class="text-center ml-3" href="{{path('profile.edit', {id: app.user.id})}}">Mes informations</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-default btn-info text-white mr-1 " href="{{ path('login') }}" role="button"><b>S'identifier</b> <span class="caret"></span></a>
                        <a class="btn btn-default btn-warning mr-3" href="{{ path('registration.register') }}"><b>Créer un compte </b></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="btn btn-secondary" href="{{ path('cart') }}">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Panier <span
                                class="badge bg-dark text-light">{{ app.request.session.get('cart') | length }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {# Font awesome #}
    <script src="https://kit.fontawesome.com/5f876598f4.js" crossorigin="anonymous"></script>
    <footer>
        <div class="footer navbar-fixed-bottom my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2019-2020 Lib Online</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
